<script setup>
</script>
<template>
<div class="w-1/5 h-full flex flex-col items-center">
    <div @click="print()" class="w-full h-2/5 rounded-md bg-sky-500 mt-2 text-white text-center cursor-pointer hover:bg-sky-300">{{ btnContext.btn1 }}</div>
    <div class="w-full h-2/5 rounded-md bg-sky-500 mt-2 text-white text-center cursor-pointer hover:bg-sky-300">{{ btnContext.btn2 }}</div>
</div>
</template>

<script>
  export default {
    data() {
      return {
        btnContext: {
          btn1: 'Connect Wallet',
          btn2: 'mint',
        },
      }
    },
    computed: {

    },
    methods: {
      print() {
        console.log(this.btnContext)
      }
    }
  }
</script>