<script setup>
import { ref } from 'vue';
const isScroll = ref(false);
const total = ref(4);
const animationDuraction = 10

const img = function (n) {
    return {
        // backgroundImage: `url(../src/assets/bg${n}.png)`,
        backgroundImage: `url(https://picsum.photos/1920/1200?random=${n})`,
        animationDuraction: `${animationDuraction}s`,
        animationDelay: `${(n - 1) * animationDuraction / 2}s`,
    }
}
window.addEventListener('scroll', function () {
    isScroll.value = (window.scrollY > 0);
});
</script>
<template>
    <div class="container mx-auto h-full flex flex-col items-center">
        <!-- <div class="flex flex-col w-full items-center mb-10">
            <img
                class="cursor-pointer mx-auto w-1/3 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6 rounded-lg"
                alt="momobear"
                src="../assets/momobear.jpg"
            />
        </div>-->
        <div
            class="w-full h-full absolute z-10 pointer-events-none"
            :class="{ 'scroll-active': isScroll }"
        >
            <div v-for="n in total" :style="img(n)" class="scale-background"></div>
        </div>
        <div
            class="bg-gray-900 opacity-75 w-full sm:w-1/2 h-[300px] shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4 flex flex-col justify-center items-center mx-auto translate-y-full"
        >
            <div
                @click="login()"
                class="w-2/5 min-w-[200px] text-center bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out cursor-pointer"
            >{{ btnContext.btn1 }}</div>
            <div
                @click="mint()"
                class="w-2/5 min-w-[200px] text-center bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold mt-4 py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out cursor-pointer"
            >{{ btnContext.btn2 }}</div>
            <!-- <div
                @click="flipSaleActive()"
                class="w-2/5 text-center bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold mt-4 py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out cursor-pointer"
            >{{ btnContext.btn3 }}</div>
            <div
                @click="flipReveal()"
                class="w-2/5 text-center bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold mt-4 py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out cursor-pointer"
            >{{ btnContext.btn4 }}</div>
            <div
                @click="setBaseURI()"
                class="w-2/5 text-center bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold mt-4 py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out cursor-pointer"
            >{{ btnContext.btn5 }}</div>
            <div
                @click="setNotRevealedURI()"
                class="w-2/5 text-center bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold mt-4 py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out cursor-pointer"
            >{{ btnContext.btn6 }}</div> -->
            <div class="mt-2 text-white font-bold text-center">{{ account }}</div>
        </div>
    </div>
</template>

<script>
import { ethers } from "ethers";
import NFTAbi from '../contract/nft.json';

const contractAddress = '0xec1c48E204E956514D88FaE58Eb66fFd1b1a9b20';
const abi = NFTAbi.abi;

export default {
    data() {
        return {
            account: '尚未連接錢包',
            provider: null,
            signer: null,
            network: '',
            btnContext: {
                btn1: 'Connect Wallet',
                btn2: 'Mint',
                btn3: '開始販售',
                btn4: '開盒',
                btn5: '設置資料位置',
                btn6: '設置盲盒圖片位置',
            }
        }
    },
    methods: {
        login: async function () {
            const provider = new ethers.providers.Web3Provider(window.ethereum, "any");
            await provider.send("eth_requestAccounts", []);
            provider.on("network", (newNetwork, oldNetwork) => {
                // When a Provider makes its initial connection, it emits a "network"
                // event with a null oldNetwork along with the newNetwork. So, if the
                // oldNetwork exists, it represents a changing network
                if (oldNetwork) {
                    window.location.reload();
                }
            });
            const signer = provider.getSigner();
            const network = await provider.getNetwork();
            this.provider = provider;
            this.signer = signer;
            this.network = network.name;
            this.account = `目前錢包：` + await signer.getAddress();
        },
        mint: async function () {
            if (!this.signer) {
                alert('請先連結錢包')
                return
            }
            if (this.network !== 'rinkeby') {
                alert('請先切換到rinkeby測試網，並重新連結錢包避免資產損失')
                return
            }
            // const provider = new ethers.providers.Web3Provider(window.ethereum, "any");
            // await provider.send("eth_requestAccounts", []);
            const signer = this.provider.getSigner();
            const contract = new ethers.Contract(contractAddress, abi, signer)
            const options = { value: ethers.utils.parseEther("0.01") }
            contract.mintFDC(1, options)
        },
        flipSaleActive: function () {
            const signer = this.provider.getSigner();
            const contract = new ethers.Contract(contractAddress, abi, signer)
            contract.flipSaleActive()
        },
        setBaseURI: function () {
            const signer = this.provider.getSigner();
            const contract = new ethers.Contract(contractAddress, abi, signer)
            contract.setBaseURI('ipfs://QmRzN6q4h8q7VU9kiSSSsFeK5wau5TKJKjLGZP9SNvAdFU/')
        },
        flipReveal: function () {
            const signer = this.provider.getSigner();
            const contract = new ethers.Contract(contractAddress, abi, signer)
            contract.flipReveal()
        },
        setNotRevealedURI: function () {
            const signer = this.provider.getSigner();
            const contract = new ethers.Contract(contractAddress, abi, signer)
            contract.setNotRevealedURI('ipfs://QmRL916VCSdTeLLJP9pCuzWdEG4fBgg3SNvQxC5H92xzGS')
        },
    }
}
</script>