<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import TopNav from './components/TopNav.vue';
import Mint from './components/Mint.vue';
</script>

<template>
<TopNav />
<Mint />
</template>

<script>
// import { ethers } from "ethers";
// import NFTAbi from '../src/contract/nft.json';
// const contractAddress = '0x753a7c67764F67c39A82ff67Ec7d899620c162eE'
// const abi = NFTAbi.abi;

// export default {
//   data() {},
//   computed: {},
//   methods: {},
// };
</script>