@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .scale-background {
        @apply w-full h-full bg-no-repeat transition-all duration-500 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute bg-center animate-ease-scale opacity-0
    }
    .scroll-active .scale-background {
        @apply w-4/5 h-[200px] top-[20%]
    }
}